article{
    border: solid black 1px;
    margin: 10px 10px 10px 10px;
    display:inline-block;

}
img{
    margin:10px;
}
article:nth-child(odd) img {

    float:left ;

}
article:nth-child(even) img{
    float:right;

}
body{
    font-size:1.25em;
}