body>div{
    grid-template-columns:repeat(4,auto);
    grid-template-rows: repeat(12,auto);
    display:grid;
    width:auto;
    height:800px;

}
body>div>div{
    background-color:lightskyblue;
    border:lightblue 1px solid;

}
#1{
    grid-column-start: 1;
    grid-column-end:2;
}
#2{
    grid-column-start: 2;
    grid-column-end:3;

}
#3{
    grid-column-start: 3;
    grid-column-end:4;
}

#4{
    grid-column-start: 4;
    grid-column-end:5;
}

#5{
    grid-column-start: 1;
    grid-column-end:2;

}
#6{
    grid-column-start: 2;
    grid-column-end:3;
}

#7{
    grid-column-start: 3;
    grid-column-end:4;
}

#8{
    grid-column-start: 4;
    grid-column-end:5;

}
#9{
    grid-column-start: 1;
    grid-column-end:2;

}
#10{
    grid-column-start: 2;
    grid-column-end:3;
}

#11{

grid-column-start: 3;
grid-column-end:4;
}
#12 {
    grid-column-start: 4;
    grid-column-end: 5;
}

@media screen and (min-width: 800px){
    #1{
        grid-column-start: 1;
        grid-column-end:3;
    }
    #2{
        grid-column-start: 3;
        grid-column-end:5;

    }
    #3{
        grid-column-start: 1;
        grid-column-end:3;
    }

    #4{
        grid-column-start: 3;
        grid-column-end:5;
    }

    #5{
        grid-column-start: 1;
        grid-column-end:3;

    }
    #6{
        grid-column-start: 3;
        grid-column-end:5;
    }

    #7{
        grid-column-start: 1;
        grid-column-end:3;
    }

    #8{
        grid-column-start: 3;
        grid-column-end:5;
    }
    #9{
        grid-column-start: 1;
        grid-column-end:3;

    }
    #10{
        grid-column-start: 3;
        grid-column-end:5;
    }

    #11{

        grid-column-start: 1;
        grid-column-end:3;
    }
    #12 {
        grid-column-start: 3;
        grid-column-end:5;
    }
}