div>div{
    width:100px;
    height:100px;
    background-color:rgb(50,50,50);
    margin-left:250px;

}
p{
    float:left;
}
body>div:first-child{
    border:5px gray solid;
    border-radius: 10px;
    padding:10px 10px 10px 10px;
    width:350px;
    float:left;


}
body>div>div{
    border-radius:10px;
    border:2px black solid;
}

#opslag{
    display: flex;
    /*background-color:red;*/
    height:500px;
    width:1500px;

}
#opslag>div{
    border-radius: 0px;
}