body{
    width:auto;

}
header>h1{
    float:left;
    font-size:50px;
    margin:30px;
    color:yellowgreen;
}
h2{
    margin:0;
}
header{
    background-color:forestgreen;
    padding-bottom:120px;
}
header>img{
    width:100px;
    heigth:auto;
    float:left;
    margin:10px;

}
header>nav{
    float:right;
    font-size:200%;
    margin-top:40px;
    margin-right:25px;

}
nav>a:last-child{

}
nav>a{
    margin-left:-5px;
    color:limegreen;
    padding:10px;
    border-right:black solid 1px;
}
nav>a:hover{
    background-color:limegreen;
    color:forestgreen;
}
main>section{
    margin-top:10px;
    background-image:linear-gradient(90deg, rgba(238,4,93,1) 0%, rgba(238,4,93,0) 38%),url("../Images/wide flower.jpg");
    background-size:cover;
    height:150px;

    color:white;
}

