
div>header:first-child{
    order:1
}
body>div{
    display:grid;
    grid-template-columns: repeat(1,auto);
    grid-template-rows:repeat(5,auto);

}
.gridHeader{
    grid-row:1;
}
.gridNav{
    grid-row:2;
}
.gridMain{
    grid-row:3;
}
.gridAside{
    grid-row:4;
}
.gridFooter{
    grid-row:5;
}
body>div:nth-child(n){
    display:grid;
}


body{
    text-align:center;
    display:block;
    grid-template-rows:repeat(5,auto);
    grid-template-columns:repeat(3,auto);
}
.caption {
    font-family: helvetica;
    font-size: 16px;
    margin-top: 12px;
}

main{
    background-color:lightyellow;
    grid-column-start:1;
    grid-column-end:4;

}
header{
    background-color:lightcyan;
    padding:15px 15px 15px 15px;
    grid-column-start:1;
    grid-column-end:4;

}
nav{
    background-color:mediumpurple;
    padding:15px 15px 15px 15px;
    grid-column-start:1;
    grid-column-end:4;
    order:1;

}
aside{
    background-color:lightgreen;
    padding:15px 15px 15px 15px;
    grid-column-start:1;
    grid-column-end:4;
}
footer{
    background-color:lightcoral;
    padding:15px 15px 15px 15px;
    grid-column-start:1;
    grid-column-end:4;

}
p{
    margin-bottom:0px;
    padding-bottom: 12px;

}
@media screen and (min-width:786px) {
    body > div {
        display: grid;
        grid-template-columns: repeat(20, auto);
        grid-template-rows:repeat(3, auto);

    }

    body {
       ;
    }

    .gridHeader {
        grid-column-start: 1;
        grid-column-end: 20;


    }

    .gridNav {
        grid-column-start: 2;
        grid-column-end: 4;

    }

    .gridMain {
        grid-column-start: 4;
        grid-column-end: 17;
        grid-row:2;
    }

    .gridAside {
        grid-column-start: 17;
        grid-column-end: 19;
        grid-row:2;

    }

    .gridFooter {
        grid-column-start: 1;
        grid-column-end: 20;
    }

    .leegL {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 2;

    }

    .leegR {
        display: grid;
        grid-column-start: 19;
        grid-column-end: 20;

    }
}