h1{
    font-size:80px;

}
h2{
    font-size:40px;
}

body{
    font-family:Helvetica;
}
main{
    background-color:#8D99AE
}
a{
    color:#EF233C;
}
header{
    margin-bottom:10px;
}
footer{
    margin-top:10px;
}
h1,h2 {
    color: #EDF2F4;
}

header,main,footer{
    padding:30px;
}
header,footer{
    color:#8D99AE;
    background-color:#2B2D42;
}